body {
  font-family: georgia, arial, helvetica, sans-serif;
  font-size: 0.9em;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
}

input {
  font-family: georgia, arial, helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0 0 6px 0;
}

div#container {
  margin: 10px;
}

table#equipmentTable {
  margin-bottom: 6px;
}

table#equipmentTable td {
  width: 40px;
  height: 40px;
  border: 2px inset rgba(192, 192, 192, 0.5);
  margin: 0;
  padding: 1px;
}

div#inventory {
  margin-left: 300px;
}

table#inventoryTable {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 1em;
  width: 200px;
}

table#inventoryTable tr {
  border-bottom : 1px solid #ddd;
}

table#inventoryTable td, table#inventoryTable th {
  margin: 0;
  padding: 4px;
  white-space: nowrap;
  text-align: left;
}

div#recipeFilters {
  padding: 4px;
  color: #aaa;
  font-size: 1em;
}

input#recipeSearch {
  height: 1.4em;
  color: #aaa;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px inset #666;
  margin-top: 4px;
  width: 100%;
  padding-left: 2px;
}

select#recipeCategoryFilter {
  font-family: georgia, arial, helvetica, sans-serif;
  height: 1.4em;
  color: #aaa;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px inset #666;
  margin-top: 4px;
}

select#recipeCategoryFilter option {
  background-color: #111;
}

div#inventoryFilters {
  padding: 4px;
  font-size: 1em;
}

input#inventorySearch {
  height: 1.4em;
  border: 0;
  border: 1px inset #ddd;
  margin-top: 4px;
  margin-bottom: 10px;
  width: 200px;
  padding-left: 2px;
}

select#inventorySortBy {
  font-family: georgia, arial, helvetica, sans-serif;
  height: 1.4em;
  border: 1px inset #666;
}

input[type='checkbox'] {
  vertical-align: bottom;
}

div#recipes {
  width: 290px;
  border: 1px solid #999;
  background: url('../images/bg.png');
  box-shadow: 0px 0px 5px #999;
  font-size: 0.8em;
}

div#recipeScroll {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  clear: both;
}

ul#recipeCategories {
  cursor: default;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#recipeCategories > li > span {
  font-weight: bold;
  text-decoration: underline;
  color: #fff;
  padding-left: 4px;
}

ul.recipeCategory {
  cursor: default;
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
}

ul.recipeCategory li {
  padding: 0px 0px 0px 5px;
  white-space: nowrap;
  overflow: visible !important; /* jQuery's animate forces overflow: hidden; */
  text-shadow: 1px 1px #000;
  margin-bottom: 1px;
  height: 22px;
  line-height: 22px;
}

ul.recipeCategory li span {
  margin-left: 4px;
}

ul.recipeCategory li div.recipeName {
  overflow: visible !important;
  width: 260px;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

ul.recipeCategory li.selectedRecipe {
  border: 1px solid white;
  padding-left: 4px;
  height: 20px;
  line-height: 20px;
}

ul.recipeCategory li.background {
  color: white;
  text-shadow: 1px 1px #000;
}

div#recipeRequirementsScroll {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

div#recipeRequirements {
  color: white;
  height: 232px;
  padding: 8px;
  text-shadow: 2px 2px #000;
}

div#recipeRequirements .recipeDesc {
  color: #999;
}

div#recipeRequirements .recipeUnlocks {
  color: #FF8E46;
}

div#recipeRequirements .recipeOutput {
  color: #00DD00;
}

div#recipeRequirements .recipeSellsFor {
  color: #666;
}

table#recipeRequirementList {
  color: white;
  border-spacing: 0;
  border-collapse: separate;
  margin-top: 10px;
}

a:link, a:visited {
  color: white;
}

a:hover, a:active {
  color: #bbb;
}

table#recipeRequirementList td {
  margin: 0;
  padding: 2px;
}

table#recipeRequirementList td span.amount {
  color: #ccc;
}

table#recipeRequirementList tr.missing span.amount {
  color: #b00;
}

div#gatherActions {
  width: 290px;
  background-color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

div#gatherActions button {
  padding: 4px;
  margin-top: 4px;
  font-weight: bold;
  width: 100%;
}

div.equipmentContainer {
  position: relative;
  width: 40px;
  height: 40px;
}

img#gather {
  cursor: hand;
}

div.durabilityContainer {
  height: 5px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.35);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 1px;
  left: 0;
}

div.durability {
  height: 5px;
  width: 40px;
  background-color: green;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

div#actions {
  height: 40px;
  padding: 4px;
  text-align: center;
  margin-bottom: 10px;
}

div#actions input[type=button] {
  width: 90px;
}

button {
  height: 40px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 0px 5px #999;
}

div#actions input {
  height: 40px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #000;
  border: 1px outset #fff;
}

div#actions input:disabled {
  color: #666;
  border: 1px outset #666;
}

input#craftAmount {
  width: 40px;
}

input#craft {
  width: 70px;
}

div#help {
  margin-top: 20px;
}

div#help table {
  font-size: 0.8em;
  border-spacing: 0;
  border-collapse: collapse;
}

div#help tr {
  border-bottom : 1px solid #ddd;
}

div#help td.key {
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  padding: 4px;
}

.floatLeft {
  float: left;
}